In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
Base = declarative_base()

In [3]:
class Book(Base):
    __tablename__ = 'books'

    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)
    year = Column(Integer)

In [4]:
engine = create_engine('sqlite:///books.db')

In [5]:
Base.metadata.create_all(engine)

In [6]:
Session = sessionmaker(bind=engine)

In [7]:
session = Session()

In [8]:
books = session.query(Book.title).order_by(Book.title).all()

In [9]:
for title in books:
    print(f"Title: {title[0]}")

Title: At Midnight
Title: Ey Dount Nough Hou Tue Ceppell
Title: Goofy Joke
Title: I Just Prefer Writing SQL
Title: Rank 3 Overdrive

In [10]:
session.close()